It's work
<h1>Общая авария</h1>
<table>
	<tr>
		<th>Описание</th>
		<th>Создатель</th>
	</tr>
	<tr>
		<%# form.form@activealarm %>
		<td><%= @activealarm.description %></td>
		<td><%= @activealarm.creator %></td>
	</tr>
</table>
